@media screen and (max-width: 640px) {
  .header {
    height: 56px;
    padding: 28px 0 0 8px;
  }

  .header__image {
    max-width: 126px;
    max-height: 24px;
  }

  .profile {
    flex-direction: column;
    padding: 42px 0 36px;
    max-width: 282px;
    max-height: 286px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50px;
    gap: 10px;
    column-gap: 14px;
    padding-top: 30px;
    padding-bottom: 36px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2;
    max-height: 22px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    max-height: 14px;
    font-size: 14px;
    line-height: 1.2;
  }

  .profile__edit-button {
    margin: 0;
    width: 18px;
    height: 18px;
    align-self: center;
  }

  .profile__add-button {
    width: 282px;
    margin: 0;
  }

  .gallery__cards {
    display: flex;
    flex-direction: column;
  }

  .footer__text {
    margin: 67px 0 60px;
  }
}

@media screen and ((min-width: 641px) and (max-width: 850px)) {
  .profile__info {
    max-width: 350px;
  }

  .profile__name {
    font-size: 32px;
  }

  .profile__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 850px) {
  html {
    display: flex;
    justify-content: center;
  }
  .page {
    width: 1280px;
  }
}
