.modal {
  display: flex;
  visibility: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  background-color: white;
  border-radius: 10px;
  padding: 34px 36px 36px;
  position: relative;
  max-width: 358px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin: 0 19px;
}

.modal__heading {
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 24px;
  max-height: 23px;
  max-width: 330px;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-footing {
  position: absolute;
  top: calc(100% + 7px);
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__input {
  font-size: 14px;
  line-height: 1.2;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  max-height: 14px;
  padding: 0 0 13px;
  margin-top: 30px;
}

.modal__input_type_error {
  border-color: #ff0000;
}

.modal__error {
  position: absolute;
  color: #ff0000;
  font-size: 12px;
  line-height: 14px;
  top: calc(100% + 5px);
  left: 0;
  opacity: 0;
  z-index: 1;
}

.modal__error_visible {
  opacity: 1;
}

.modal__button {
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.2;
  height: 50px;
  margin-top: 48px;
  padding: 0px;
}

.modal__delete-button {
  margin-top: 14px;
}

.modal__button_disabled {
  cursor: default;
  color: black;
  background-color: white;
  opacity: 0.2;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__button:disabled:hover {
  opacity: 0.2;
}

.modal__close-button {
  cursor: pointer;
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  width: 33px;
  height: 33px;
  padding: 0;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {
  .modal__container {
    padding: 25px 22px;
    min-width: 238px;
  }

  .modal__heading {
    font-size: 18px;
    margin-bottom: 46px;
  }

  .modal__description {
    margin-bottom: 45px;
  }

  .modal__button {
    font-size: 14px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    left: 0;
    bottom: calc(100% + 22px);
    left: calc(100% - 34px);
  }
}
